<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>
<link rel="stylesheet" href="data.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<body>
	<div class="container-fluid">
		
		<div class="box">
			
		</div>

		<div class="text">
			<p>Crop:</p>
			<p>Optimum Temperature:</p>
		</div>
		</br>

		<table width="60%"; border="2" style="background-colour: #84ed86";align="center";bgcolor="#00FF00">
      		<tr>
          		<th>MONDAY</th>
          		<th>TUESDAY</th>
          		<th>WEDNESDAY</th>
          		<th>THURSDAY</th>
          		<th>FRIDAY</th>
      		</tr>
      		<tr>
          		<th>0</th>
          		<th>0</th>
          		<th>0</th>
          		<th>0</th>
          		<th>0</th>
      		</tr>

		</table>
		</br></br>

	</div>

</body>

</html>