<!DOCTYPE html>
<html>
<head>
	<title>OrganicFarmer</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<div class="wrapper">

		<div id="header">OrganicFarmer</div>

		<div class="lighter">

			<form>

				<div class="form-group">

					<div class="selectdiv">

					    <select>
					    	<option value="" selected="selected">Select City</option>
							<option value="Kochi">Kochi</option>
							<option value="Mumbai">Mumbai</option>
							<option value="Chennai">Chennai</option>
							<option value="Delhi">Delhi</option>
						</select> 

					</div>

				    <div class="selectdiv">

					    <select>
					    	<option value="" selected="selected">Select Plant</option>
							<option value="Tomato">Tomato</option>
							<option value="Beans">Beans</option>
							<option value="Cauliflower">Cauliflower</option>
							<option value="GreenChilli">Green Chilli</option>
						</select> 

					</div>

				    <input type="button" value="Search" id="button">

			    </div>
			</form>

		</div>

	</div>

</body>
</html>